<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Game Valuation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background="{{ url_for('static',filename='background.png') }}">
    <form method="post" >
        <br>
        <div>
            <label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">Title</label><br><br>
            <input style="padding-right:15%; margin-left: 5%; height: 45px; font-size: 20px" type="textbox" name="name">
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">About</label><br><br>
            <textarea style="overflow:scroll; margin-left: 5%; font-size: 20px" rows="4" cols="100" wrap="hard" name="about"></textarea>
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">Introduction</label><br><br>
            <textarea style="overflow:scroll; margin-left: 5%; font-size: 20px" rows="7" cols="100" wrap="hard" name="introduction"></textarea>
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">Tag</label><br><br>
            <input style="margin-left: 5%; height: 45px; font-size: 20px; width: 20%" type="number" name="tag" min="0">
        </div>
        <div name="lan">
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">Language</label><br><br>
            <label class="label label-primary" style="margin-left: 5%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="English">English</label>
            <label class="label label-success" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Chinese">Chinese</label>
            <label class="label label-info" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Spanish">Spanish</label>
            <label class="label label-warning" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="French">French</label>
            <label class="label label-danger" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Russian">Russian</label><br><br>
            <label class="label label-primary" style="margin-left: 5%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Portuguese">Portuguese</label>
            <label class="label label-success" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="German">German</label>
            <label class="label label-info" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Japanese">Japanese</label>
            <label class="label label-warning" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Turkish">Turkish</label>
            <label class="label label-danger" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Korean">Korean</label><br><br>
            <label class="label label-primary" style="margin-left: 5%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Italian">Italian</label>
            <label class="label label-success" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Thai">Thai</label>
            <label class="label label-info" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Polish">Polish</label>
            <label class="label label-warning" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Ukrainian">Ukrainian</label>
            <label class="label label-danger" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Dutch">Dutch</label>
            <label class="label label-danger" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="Finnish">Finnish</label>
        </div>
        <div style="width:28%; float:left;">
            <br><br><label class="label label-default" style="font-size: 30px; margin-left: 17%; font-family:monospace">Price</label><br><br>
            <input style="margin-left: 17%; height: 45px; font-size: 20px; width: 71%" type="number" name="price" min="0"><br>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 17%; font-family:monospace">View</label><br><br>
            <input style="margin-left: 17%; height: 45px; font-size: 20px; width: 71%" type="number" name="view" min="0">
        </div>
        <div style="width:72%; float:left;">
            <br><br><br><br><br><button class="btn btn-warning" type="submit" style="font-size: 30px; margin-left: 0%; width: 20%; height: 100px">Predict</button>
            <label class="label label-default" style="font-size: 40px; margin-left: 3%" id="label_result">Sell</label>
            <label style="font-size: 40px; margin-left: 1%; color: aliceblue" id="sold">{{ sold }}</label>
        </div>
        <div>
            
        </div>
    </form>
    <script>
        document.getElementsByName("name")[0].value={{name|tojson}};
        document.getElementsByName("short_introduction")[0].value={{about|tojson}};
        document.getElementsByName("introduction")[0].value={{introduction|tojson}};
        document.getElementsByName("tag")[0].value={{tag|tojson}};
        {% for lan in language %}
            var a = {{lan|tojson}};
            for(var i=0; i < 16; i=i+1){
                if(a == document.getElementsByName("language")[i].value){
                    document.getElementsByName("language")[i].checked = "checked";
                }
            }
        {% endfor %}
        document.getElementsByName("price")[0].value={{price|tojson}};
        document.getElementsByName("view")[0].value={{view|tojson}};
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
  
    
</html>
