<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Game Valuation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background="{{ url_for('static',filename='background.png') }}">
    <form method="post" >
        <br>
        <div>
            <label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">名稱</label><br><br>
            <input style="padding-right:15%; margin-left: 5%; height: 45px; font-size: 20px" type="textbox" name="title" >
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">簡介</label><br><br>
            <textarea style="overflow:scroll; margin-left: 5%; font-size: 20px" rows="4" cols="100" wrap="hard" name="short_introduction"></textarea>
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">介紹</label><br><br>
            <textarea style="overflow:scroll; margin-left: 5%; font-size: 20px" rows="7" cols="100" wrap="hard" name="introduction"></textarea>
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">標籤</label><br><br>
            <label style="margin-left: 5%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="tag" value="戰略">戰略</label>
            <label style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="tag" value="益智">益智</label>
            <label style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="tag" value="動作">動作</label>
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">語言</label><br><br>
            <label class="label label-default" style="margin-left: 5%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="中文">中文</label>
            <label class="label label-primary" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="英文">英文</label>
            <label class="label label-success" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="法文">法文</label>
            <label class="label label-info" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="俄文">俄文</label>
            <label class="label label-warning" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="德文">德文</label>
            <label class="label label-danger" style="margin-left: 2%; font-size: 25px;"><input style="zoom: 1.5" type="checkbox" name="language" value="西班牙文">西班牙文</label>
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">售價</label><br><br>
            <input style="padding-right:2%; margin-left: 5%; height: 45px; font-size: 20px" type="textbox" name="price">
        </div>
        <div>
            <br><label class="label label-default" style="font-size: 30px; margin-left: 5%; font-family:monospace">外部因素</label><br><br>
            <input style="padding-right:52%; margin-left: 5%; height: 45px; font-size: 20px" type="textbox" name="other" >
        </div>
        <br><button class="btn btn-warning" type="submit" style="font-size: 30px; margin-left: 68%">計算</button>
        <div>
            <label style="font-size: 40px; display: none;" id="label_result">銷量 </label>
            <label style="font-size: 40px; display: none;" id="sold"></label>
        </div>
    </form>
    <script>
        var sold = {{sold|tojson}};
        if(sold != ''){
            document.getElementById("sold").style.display="";
            document.getElementById("label_result").style.display="";
            document.getElementById("sold").innerText=sold;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
  
    
</html>
